/* variables */

$darkcyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$darkblue: hsl(212, 21%, 14%);
$grayblue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

* {
  margin: 0;
}

@mixin center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: $cream;
  @include center-items;
  flex-direction: column;
  font-size: 14px;
  padding: 1rem;
}

main {
  @include center-items;
  flex: 1;
}

.card {
  background-color: $white;
  border-radius: 12px;
  display: flex;
  max-width: 36rem;
}

picture,
.product-info {
  max-width: 50%;
}

.text,
.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

img {
  border-radius: 12px 0 0 12px;
}

.product-info {
  padding: 2rem;
}

.item-type {
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.item-type,
.description,
.old-price {
  color: $grayblue;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: $darkblue;
}

h1,
.current-price {
  font-family: "Fraunces", serif;
  font-size: 2em;
  font-weight: 700;
}

.price {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.old-price {
  text-decoration: line-through;
  font-size: 0.9em;
}

.current-price {
  color: $darkcyan;
}

button {
  @include center-items;
  gap: 0.5rem;
  width: 100%;
  border-radius: 12px;
  padding: 1rem 0;
  border: none;
  background-color: $darkcyan;
  font-family: "Montserrat", sans-serif;
  color: $white;
  font-weight: 700;
}

@media (max-width: 767px) {
  .card {
    flex-direction: column;
  }
  picture,
  .product-info {
  max-width: 100%;
  }
  img {
    border-radius: 12px 12px 0 0;
  }
}